/*
    Google font sans serif associated with CSS
 */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitter&family=Dancing+Script:wght@500&family=Edu+NSW+ACT+Foundation&family=Edu+SA+Beginner:wght@700&family=Inter&family=Lobster&family=Merriweather&family=Noto+Sans&family=Open+Sans&family=Poppins:wght@400;500&family=Roboto:wght@500&family=Splash&display=swap");

/*
    All css common styles here,
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
  overflow: hidden;
}

/*
    Headaer and navigation bar styles here,
*/

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  cursor: pointer;
  margin: 30px 0;
}

.menu-icon {
  width: 25px;
  cursor: pointer;
}

.navicons {
  flex: 1;
  text-align: right;
}

.navicons > ul > li {
  list-style-type: none;
  display: inline-block;
  margin-right: 30px;
  cursor: pointer;
}

.navicons ul li a {
  text-decoration: none;
  color: black;
  font-size: 14.5px;
}

.navicons ul li a:hover {
  color: #ff5ea2;
}

/*
    Header content styles here,
*/

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
}

.row .col-1 {
  flex-basis: 40%;
  position: relative;
  margin-left: 50px;
}

.col-1 h2 {
  font-size: 54px;
}
.col-1 h3 {
  font-size: 30px;
  color: #707070;
  font-weight: 100;
  margin: 20px 0 10px;
}

.col-1 p {
  font-size: 16px;
  color: #b7b7b7;
  font-weight: 100;
}

.col-1 h4 {
  font-size: 20px;
  margin: 30px 0;
}

.col-1 button {
  width: 140px;
  padding: 12px 10px;
  border: none;
  outline: none;
  color: white;
  background: linear-gradient(to right, #fb5283, #ff3527);
  border-radius: 6px;
  cursor: pointer;
  transition: width 0.5s;
}

.col-1 button > img {
  width: 30px;
  display: none;
}

.col-1 button:hover img {
  display: block;
}

.col-1 button:hover {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
